# Example YAML to get you started quickly.
# Be aware that YAML has indentation based scoping.
# Code completion support is available so start typing for available options.
swagger: '2.0'

# This is your document metadata
info:
  title: Drupal API
  version: "0.0.1"
  description: The REST API documentation for CNSD website
  
host: vm522.haisoft.net

schemes:
  - http

basePath: /cnsdtest/web

produces:
  - application/json

# Describe your paths here
paths:
  # This is a path endpoint. Change it.
  /push_notifications/add_token:
    # This is a HTTP operation
    post:
      tags:
        0:  "push_notifications_token"
      # Describe this verb here. Note: you can use markdown
      summary: Add a new Push Notifications Token object.
      description: ""
      operationId : ""
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: size
          in: query
          description: Size of array
          required: true
          type: number
          format: double
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ArrayOfPersons
            type: array
            items:
              title: Person
              type: object
              properties:
                name:
                  type: string
                single:
                  type: boolean