{
    "swagger": "2.0",
    "info": {
        "title": "Drupal API",
        "version": "0.3.0",
        "description": "The REST API documentation for CNSD website",
        "contact": {
            "email": "contact@land-dentiste.fr"
        }
    },
    "host": "vm522.haisoft.net",
    "tags": [
        {
            "name": "push_notifications",
            "description": "Everything about Push Notifications"
        },
        {
            "name": "content",
            "description": "Everything about Content"
        },
        {
            "name": "comment",
            "description": "Everything about Comment"
        },
        {
            "name": "user",
            "description": "Everything about Users"
        }
    ],
    "schemes": [
        "http"
    ],
    "basePath": "/cnsdtest/web",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/rest/content": {
            "get": {
                "tags": [
                    "content"
                ],
                "summary": "Get Contents",
                "operationId": "getContents",
                "parameters": [
                    {
                        "name": "_format",
                        "in": "query",
                        "type": "string",
                        "description": "The format of rendering the object",
                        "required": true
                    },
                    {
                        "name": "category_name",
                        "in": "query",
                        "description": "The category name to get all content of it or its children categories",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The number of the page",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "type[]",
                        "in": "query",
                        "description": "The content type (multiple entries is accepted",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "time",
                        "in": "query",
                        "description": "Enter a new value to rebuild caches",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "uuid",
                        "in": "query",
                        "description": "The uuid of the content, to get only one",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset of the query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "items_per_page",
                        "in": "query",
                        "description": "The number of items per page",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "The category id",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "changed",
                        "in": "query",
                        "description": "Will get all content which changed date is equal or greater than this entered",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "The published status",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "created",
                        "in": "query",
                        "description": "Will get all content which created date is equal or lower than this entered",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Content"
                            }
                        }
                    }
                }
            }
        },
        "/rest/content/unpublished": {
            "get": {
                "tags": [
                    "content"
                ],
                "summary": "Get Unpublished Contents Uuid",
                "operationId": "getUnpublishedContents",
                "parameters": [
                    {
                        "name": "_format",
                        "in": "query",
                        "type": "string",
                        "description": "The format of rendering the object",
                        "required": true
                    },
                    {
                        "name": "category_name",
                        "in": "query",
                        "description": "The category name to get all content of it or its children categories",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "type[]",
                        "in": "query",
                        "description": "The content type (multiple entries is accepted",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "time",
                        "in": "query",
                        "description": "Enter a new value to rebuild caches",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "changed",
                        "in": "query",
                        "description": "Will get all content which changed date is equal or greater than this entered",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/node/id": {
            "get": {
                "tags": [
                    "content"
                ],
                "summary": "Get one Content",
                "description": "Change id to the nid value of the node",
                "operationId": "getContent",
                "parameters": [
                    {
                        "name": "_format",
                        "in": "query",
                        "type": "string",
                        "description": "The format of rendering the object",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Content"
                            }
                        }
                    }
                }
            }
        },
        "/rest/comments": {
            "get": {
                "tags": [
                    "comment"
                ],
                "summary": "Get Comments for a defined content",
                "operationId": "getComments",
                "parameters": [
                    {
                        "name": "_format",
                        "in": "query",
                        "type": "string",
                        "description": "The format of rendering the object",
                        "required": true
                    },
                    {
                        "name": "nid",
                        "in": "query",
                        "type": "string",
                        "description": "The nid of the node",
                        "required": true
                    },
                    {
                        "name": "changed",
                        "in": "query",
                        "type": "string",
                        "description": "The changed date for comments",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Comment"
                            }
                        }
                    }
                }
            }
        },
        "/push_notifications/add_token": {
            "post": {
                "tags": [
                    "push_notifications"
                ],
                "summary": "Add a new Token",
                "description": "",
                "operationId": "addToken",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Token object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PNToken"
                        }
                    },
                    {
                        "name": "_format",
                        "in": "query",
                        "type": "string",
                        "description": "The format of rendering the object",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/entity/user": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "Add a new User",
                "operationId": "addUser",
                "consumes": [
                    "application/hal+json"
                ],
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "_format",
                        "in": "query",
                        "type": "string",
                        "description": "The format of rendering the object",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "User object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/entity/comment": {
            "post": {
                "tags": [
                    "comment"
                ],
                "summary": "Add a new Comment",
                "operationId": "addComment",
                "consumes": [
                    "application/hal+json"
                ],
                "produces": [
                    "application/hal+json"
                ],
                "parameters": [
                    {
                        "name": "_format",
                        "in": "query",
                        "type": "string",
                        "description": "The format of rendering the object",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Comment object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Comment"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/rest/content/ads": {
            "get": {
                "tags": [
                    "content"
                ],
                "summary": "Get Ad Contents",
                "operationId": "getAdsContents",
                "parameters": [
                    {
                        "name": "_format",
                        "in": "query",
                        "type": "string",
                        "description": "The format of rendering the object",
                        "required": true
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The ad type (banner, interstitial, fullscreen)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "uuid_only",
                        "in": "query",
                        "description": "Return Ad object or only uuid",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "priority",
                        "in": "query",
                        "description": "the priority of the ad",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "uuid",
                        "in": "query",
                        "description": "If set get only the corresponding Ad",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/jwt/token": {
            "get": {
                "tags": [
                    "user"
                ],
                "summary": "Get the JWT corresponding to current user",
                "operationId": "getJWT",
                "parameters": [
                    {
                        "name": "_format",
                        "in": "query",
                        "type": "string",
                        "description": "The format of rendering the object",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        }
    },
    "definitions": {
        "PNToken": {
            "type": "object",
            "required": [
                "token",
                "device",
                "app"
            ],
            "properties": {
                "token": {
                    "type": "string"
                },
                "device": {
                    "$ref": "#/definitions/Device"
                },
                "app": {
                    "$ref": "#/definitions/App"
                }
            }
        },
        "Device": {
            "type": "object",
            "required": [
                "uuid",
                "model",
                "virtual",
                "manufacturer",
                "os"
            ],
            "properties": {
                "uuid": {
                    "type": "string"
                },
                "model": {
                    "type": "string"
                },
                "virtual": {
                    "type": "boolean"
                },
                "manufacturer": {
                    "type": "string"
                },
                "os": {
                    "$ref": "#/definitions/Os"
                }
            }
        },
        "Os": {
            "type": "object",
            "required": [
                "platform",
                "version"
            ],
            "properties": {
                "platform": {
                    "type": "string",
                    "example": "Android"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "App": {
            "type": "object",
            "required": [
                "version"
            ],
            "properties": {
                "version": {
                    "type": "string"
                }
            }
        },
        "Content": {
            "type": "object",
            "required": [
                "_links",
                "title",
                "body",
                "type"
            ],
            "properties": {
                "_links": {
                    "$ref": "#/definitions/_links"
                },
                "nid": {
                    "$ref": "#/definitions/Nid"
                },
                "uuid": {
                    "$ref": "#/definitions/Uuid"
                },
                "vid": {
                    "$ref": "#/definitions/Vid"
                },
                "langcode": {
                    "$ref": "#/definitions/Langcode"
                },
                "type": {
                    "$ref": "#/definitions/Type"
                },
                "status": {
                    "$ref": "#/definitions/Status"
                },
                "title": {
                    "$ref": "#/definitions/Title"
                },
                "created": {
                    "$ref": "#/definitions/Created"
                },
                "changed": {
                    "$ref": "#/definitions/Changed"
                },
                "promote": {
                    "$ref": "#/definitions/Promote"
                },
                "sticky": {
                    "$ref": "#/definitions/Sticky"
                },
                "revision_timestamp": {
                    "$ref": "#/definitions/RevTimestamp"
                },
                "revision_translation_affected": {
                    "$ref": "#/definitions/RevTransAffected"
                },
                "default_langcode": {
                    "$ref": "#/definitions/DefaultLangcode"
                },
                "body": {
                    "$ref": "#/definitions/Body"
                },
                "comment": {
                    "$ref": "#/definitions/NodeComment"
                }
            }
        },
        "_links": {
            "type": "object",
            "required": [
                "type"
            ],
            "properties": {
                "type": {
                    "$ref": "#/definitions/_linksType"
                },
                "rest/relation/comment/comment/entity_id": {
                    "$ref": "#/definitions/_linksEntityId"
                }
            }
        },
        "_linksType": {
            "type": "object",
            "required": [
                "href"
            ],
            "properties": {
                "href": {
                    "type": "string"
                }
            }
        },
        "_linksEntityId": {
            "type": "object",
            "properties": {
                "href": {
                    "type": "string"
                }
            }
        },
        "Nid": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "Uuid": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "string"
                }
            }
        },
        "Vid": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "Langcode": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "string"
                },
                "lang": {
                    "type": "string"
                }
            }
        },
        "Type": {
            "type": "object",
            "required": [
                "target_id"
            ],
            "properties": {
                "target_id": {
                    "type": "string"
                }
            }
        },
        "Status": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "boolean"
                },
                "lang": {
                    "type": "string"
                }
            }
        },
        "Title": {
            "type": "object",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "lang": {
                    "type": "string"
                }
            }
        },
        "Created": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "integer",
                    "format": "int32"
                },
                "lang": {
                    "type": "string"
                }
            }
        },
        "Changed": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "integer",
                    "format": "int32"
                },
                "lang": {
                    "type": "string"
                }
            }
        },
        "Promote": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "boolean"
                },
                "lang": {
                    "type": "string"
                }
            }
        },
        "Sticky": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "boolean"
                },
                "lang": {
                    "type": "string"
                }
            }
        },
        "RevTimestamp": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "RevTransAffected": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "boolean"
                },
                "lang": {
                    "type": "string"
                }
            }
        },
        "DefaultLangcode": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "boolean"
                },
                "lang": {
                    "type": "string"
                }
            }
        },
        "Body": {
            "type": "object",
            "required": [
                "summary",
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "format": {
                    "type": "string"
                },
                "summary": {
                    "type": "string"
                },
                "lang": {
                    "type": "string"
                }
            }
        },
        "NodeComment": {
            "type": "object",
            "properties": {
                "status": {
                    "type": "integer",
                    "format": "int32"
                },
                "cid": {
                    "type": "integer",
                    "format": "int32"
                },
                "last_comment_timestamp": {
                    "type": "integer",
                    "format": "int32"
                },
                "last_comment_name": {
                    "type": "string"
                },
                "last_comment_uid": {
                    "type": "integer",
                    "format": "int32"
                },
                "comment_count": {
                    "type": "integer",
                    "format": "int32"
                },
                "lang": {
                    "type": "string"
                }
            }
        },
        "Comment": {
            "type": "object",
            "required": [
                "_links",
                "entity_id",
                "entity_type",
                "subject",
                "status",
                "comment_type",
                "field_name"
            ],
            "properties": {
                "_links": {
                    "$ref": "#/definitions/_links"
                },
                "entity_id": {
                    "$ref": "#/definitions/EntityId"
                },
                "entity_type": {
                    "$ref": "#/definitions/EntityType"
                },
                "subject": {
                    "$ref": "#/definitions/Subject"
                },
                "status": {
                    "$ref": "#/definitions/Status"
                },
                "comment_type": {
                    "$ref": "#/definitions/CommentType"
                },
                "field_name": {
                    "$ref": "#/definitions/FieldName"
                },
                "CommentBody": {
                    "$ref": "#/definitions/CommentBody"
                }
            }
        },
        "EntityId": {
            "type": "object",
            "required": [
                "target_id",
                "revision_id"
            ],
            "properties": {
                "target_id": {
                    "type": "string"
                },
                "revision_id": {
                    "type": "string"
                }
            }
        },
        "EntityType": {
            "type": "object",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string"
                }
            }
        },
        "Subject": {
            "type": "object",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string"
                }
            }
        },
        "CommentType": {
            "type": "object",
            "required": [
                "target_id"
            ],
            "properties": {
                "target_id": {
                    "type": "string"
                }
            }
        },
        "FieldName": {
            "type": "object",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string"
                }
            }
        },
        "CommentBody": {
            "type": "object",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string"
                }
            }
        },
        "User": {
            "type": "object",
            "required": [
                "_links",
                "name",
                "status"
            ],
            "properties": {
                "_links": {
                    "$ref": "#/definitions/_links"
                },
                "name": {
                    "$ref": "#/definitions/Name"
                },
                "pass": {
                    "$ref": "#/definitions/Pass"
                },
                "status": {
                    "$ref": "#/definitions/Status"
                }
            }
        },
        "Name": {
            "type": "object",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string"
                }
            }
        },
        "Pass": {
            "type": "object",
            "required": [
                "value"
            ],
            "properties": {
                "value": {
                    "type": "string"
                }
            }
        }
    }
}